.input{
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}

.inputbox{
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}
.inputbox:focus{
    box-shadow:  0 0 10px 1000px rgba(0,0,0,0);
    outline: none;
}
.input_go{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    font-size: 15px;
    background-color: #2f74c0;
    color: white;
    transition: 0.2s;
    box-shadow:  0 0 10px black;
}
.input_go:hover{
    background-color: #388ae2;
}
.input_go:active{
    transform: scale(0.8);
}

.todos{
    display: flex;
    width: 47.5%;
    flex-direction: column;
    width: 47.5%;
    padding: 15px;
    background-color: rgb(50, 195, 205);
}
.todoremove{
    display: flex;
    width: 47.5%;
    flex-direction: column;
    width: 47.5%;
    padding: 15px;
    background-color: rgb(235,103,80);
}

.todos_single{
    display: flex;
    width: 29.5%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
    transition: 0.2s;
}
.todos_singleText{
    flex:1;
    padding: 5px;
    border: none;
    font-size: 20px;
}
.icon{
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}
.container{
    width: 95%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
}